*{
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;

}
header{
    margin-top: 0px; 
}
main {
    padding: 10px 50px;
}
.title-main{
    color: #0f346b;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    
}

.contenedor{
    padding: 60px o;
    margin: auto;
    overflow: hidden; 
    line-height:0;
    width: 85%;
}
.circular--square{
    border-radius: 50%;
}

.title{
    color: #FA8072;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
header{
	background:url(img/back.jpg) no-repeat center center fixed;
	background-size:cover;

}

 header nav{
     text-align: right;
     padding: 30px 50px 0 0;
     display: grid;
     grid-template-columns: 1fr 25fr 5fr 5fr 5fr;
 }

 nav a{
     text-decoration: none;
    margin-right: 2px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    }
input.round{
    border-radius: 5px;
    width: 160px;
    height: 25px;
    border: 1px solid gray;
}
section h1{
   align-items: center;
   justify-content: center;
   text-align: center;
   font-size: 50px;
   
}
section h2{
   align-items: center;
   justify-content: center;
   text-align: center;
   font-size: 30px;
   font-weight: 300;

}

.jumbotron a{
    text-decoration: none;
    padding: 3px;
    background-color: #2E8BF4;
    color: black;
    border-radius: 5px;
    margin: 10px;
    
}
.jumbotron{
    background-color: #D9DADA;
    border-radius: 10px;
    
}
a .input {
    border-radius: 50px;
    height: 5px;
    width: 100px;
}
.container h1, h2.title{
    align-items: center;
    justify-content: center;
    text-align: center;
   font-size: 50px;
}

.contenedor-blog {
    text-align: center;
     padding: 30px 50px 0 0;
    display: grid;
    grid-template-columns: repeat(3, 500px);
    padding: 10px;
    border-spacing: 10px 5px;
}
div.card:hover{
    transform: rotate(-3deg);
}

.card{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    width: 75%;
    margin: 0 auto;
    padding: 50px;
    box-shadow: 0px 26px 45px -14px rgb(0 0 0 / 80%);
    
}
.card hr{
    width: 100%;
}

.card img {
    max-height: 320px;
    border: 1px solid black;
}

.testimonios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 200px;
    margin-right:px;
}

.testimonios .card{
    width: 40%;
}

.centrado{
    text-align: center;
}
p.centrado{
    text-align: center;
    

}

.box{
    display: grid;
    grid-template-rows: 3fr 3fr;
}

p {
    display: flex;
    justify-items: end;    
}
.title-fo{
    color: #6dbdff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Times New Roman', Times, serif;

}

footer {
    margin-top: auto;
    background-color: black;
    color: white;
    padding: 60px 300px;
}
footer ul {
    list-style-type: none;
}
nav ul li {
    padding: 3px 0 15px;
}

nav ul a {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
}
footer>div {
    display: grid;
    grid-template-columns: (30fr 15fr 25fr);
}


nav {
    display: flex;
}

nav ul {
    margin-right: 350px;
}
@media screen and(min-width:780px)and(max-width:1024px){
    .header{

    }
 
    .container{
        width: 50%;
    }
}

@media screen (min-width:480px)and(max-width:780px){
    .main{
        width: 70%;
    }
}

@media screen and (max-width:px){
    .header{
        height: 80px;
        background-color: #01060c;
    }
}
